@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import 'bulma/css/bulma.css';

:root {
  --family-primary: '"Nunito", sans-serif';
  --control-border-width: 2px;
  --input-shadow: none;
  --bulma-primary-h: 74deg;
}

.card-result {
  height: 100%;
}

.character-details {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.details-close-button {
  position: absolute;
  inset-inline-end: 0.5rem;
  inset-block-start: 1rem;
}

.root {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/256px-Rick_and_Morty.svg.png')
    var(--bulma-scheme-main) 1rem 1rem no-repeat fixed;
  min-height: 100vh;
}

.select-characters-drawer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
